include head
div(class="wraper")
	include header
	div(class="row")
		div(class="left-menu")
			ul
				li
					div(class='base') База данных
				li 
					div(class='info') Сводная информация
		div(class="right-content-block table")
			div(class="top-wrap-menu row")
				button(
					type="button"
					class="btn2 btn col"
					) Обновить
				button(
					type="button"
					class="btn3 btn col"
					) Обновить
				input(
					type= "text"
					class="search"
					placeholder="Иванов"
					)
				button(
					type="button col"
					class="btn-search btn"
					) Искать
			div(class="row")
				div(class="col tabledb")
					div(class="table-index row")
						div(class="cell surname-col") Фамилия
						div(class="cell name-col") Имя
						div(class="cell patronymic-col") Отчество
						div(class="cell start-work") Начало работы
						div(class="cell end-work") Дата увольнения
						div(class="cell bad-work") Слеты
						div(class="cell good-work") Успешные объекты
						div(class="cell date-added") Дата добавления
			div(class="row")
				div(class="col tableInfo")
					div(class="table-index row")
						div(class="cell surname-col") Фамилия
						div(class="cell name-col") Имя
						div(class="cell patronymic-col") Отчество
						div(class="cell start-work") Начало работы
						div(class="cell end-work") Дата увольнения
						div(class="cell amount-of-days-work") Дней работал
						div(class="cell bad-work") Слеты
						div(class="cell good-work") Успешные объекты
						div(class="cell all-work") Всего объектов
						div(class="cell percent-bad-work") % Брака
			div(class="row")
				div(class="test777 row")
					div(class="table-ul col")